<h1> My Watchlist Index </h1>

<% @w.each do |watchlist_entry| %>
    <%# <% watchlist_entry.user_id %> 
    <%# <% watchlist_entry.movie_id %>
    <p>Movie: <%= watchlist_entry.movie.title %></p>
    <p>Rating: <%= watchlist_entry.rating %></p>
    <p>Reivew: <%= watchlist_entry.review %></p><br>
<% end %>




<%# 
<% @watchlists.each do |wl| %>
<%# <%= wl.user_id == @user.id %>
<%# <%end%>

