
<div class="container text-center">

<br><h1>Watchlister</h1><br><br>
<p>Browse & Add Movies to the database & your watchlist</p>


<%= button_to "LOG-IN", login_path, method: :get %> <br>
<%= button_to "SIGN-UP", signup_path, method: :get %>  

</div>